################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVVMProj/.vs
/MVVMProj/MVVMProj/obj
/MVVMProj/MVVMProj/bin/Debug/net9.0-windows10.0.19041.0/win10-x64
